[submodule "portfolio/resume"]
	path = portfolio/resume
	url = https://github.com/devinmatte/resume
[submodule "presentations"]
	path = presentations
	url = https://github.com/devinmatte/Presentations
