[submodule "presentations"]
	path = presentations
	url = https://github.com/devinmatte/Presentations
[submodule "markdown"]
	path = markdown
	url = https://github.com/devinmatte/Notetaking-In-Markdown
[submodule "portfolio"]
	path = portfolio
	url = https://github.com/devinmatte/Portfolio
