<div class="ui right sidebar vertical menu">
    <div class="sidebar-container">
        <a class="green item" href="{{ site.baseurl }}/">
            <i class="fa fa-home"></i> Home
        </a>
        <a class="item" href="https://portfolio.devinmatte.com">
            <i class="fa fa-folder"></i> Portfolio
        </a>
        <a class="item" href="https://referrals.devinmatte.com">
            <i class="fa fa-money"></i> Referrals
        </a>

        <div class="ui horizontal divider">
            <h6>Most Recent</h6></div>
        <div class="ui list">
            {% for post in site.posts limit:5 %}
            <div class="item">
                <div class="content">
                    <h6><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
                    <div class="description">{{ post.date | date: "%b %-d, %Y" }}</div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="ui horizontal divider">
            <h6>Categories</h6>
        </div>
        {% include blog-filter.html %}
        <ul class="list-horizontal">
            <li>
                <a class="fa fa-github" target="_blank" rel="noopener" href="https://github.com/{{ site.github_username }}"></a>
            </li>
            <li>
                <a class="fa fa-linkedin" target="_blank" rel="noopener" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
            </li>
            <li>
                <a class="fa fa-stack-overflow" target="_blank" rel="noopener" href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}"></a>
            </li>
            <li>
                <a class="fa fa-instagram" target="_blank" rel="noopener" href="https://www.instagram.com/devinmatte"></a>
            </li>
        </ul>
    </div>
</div>
